# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ilk
*.tlog
*.sdf
*.opensdf
*.log
*.pdb
*.filters
*.vspx
ShapeMatchTest/ShapeMatchTest/Release/
*.idb
*.ipch
ShapeMatchTest/ShapeMatchTest/Debug/
ShapeMatchTest/SaveImage/
*.lastcodeanalysissucceeded
